.imageslider {
    width: 100%;
    height: 100%;
}

.carousel__item {
    position: relative;
}

.custom-arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    color: gray;
    background-color: whitesmoke;
    display: flex;
    padding: 1% 1.5%;
    border-radius: 50%;
    font-size: small;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 2%;
}

.next {
    right: 2%;
}

.custom-arrow:hover {
    color: black;
}

/* .imageslider {
    width: 100%;
    height: 100%;
}
.custom-arrow {
    position: absolute;
    z-index: 1;
    color: gray;
    background-color: whitesmoke;
    display: flex;
    padding: 1% 1.5%;
    border-radius: 50%;
    font-size: small;
    cursor: pointer;
}
.custom-arrow:hover {
    color: black;
} */

/* .prev {
    margin-top: 50%;
    margin-left: 2%;
}
.next {
    margin-top: -50%;
    margin-left: 94%;
} */

.slick-dots {
    width: 50%;
    margin-left: 25%;
}

.slick-dots .slick-active button::before {
    color: #c1c1c1;
}

.slick-dots button::before {
    color: #e9e9e9;
}