.following_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.following {
    width: 25%;
    height: 55%;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

/*  */
.following_header {
    padding: 3%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.following_header span {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    font-weight: bold;
}
.following_header button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
/*  */
.following_search {
    margin: 3% 0;
    text-align: center;
}
.following_search input {
    background-color: #f6f6f6;
    border: none;
    border-radius: 8px;
    width: 9cm;
    padding: 2% 2%;
    outline: none;
}

/*  */
.following_followings {
    height: 70%;
    overflow: auto;
}
.following_following {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
    margin: 0 0;
}
.following_following img {
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    cursor: pointer;
}
.following_following span {
    margin-right: 52%;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}
.following_following button {
    font-weight: bold;
    padding: 2% 5%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}