.myPage {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* 프로필 헤더 */
.myPage_header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
}
/* 프로필 이미지 */
.myPage_header_userImg {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.myPage_header_userImg img {
    width: 75%;
    height: 80%;
    border-radius: 50%;
}
/* 프로필 정보 */
.myPage_header_user {
    padding: 2% 0;
    width: 80%;
}
.myPage_header_user_info {
    padding-bottom: 2%;
    display: flex;
    align-items: center;
}
.myPage_header_user_info span {
    font-size: x-large;
    margin-right: 2%;
}
.myPage_header_user_info a {
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: black;
    padding: 2px 4px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    margin-right: 1%;
}
.myPage_header_user_community {
    padding-bottom: 2%;
    font-size: small;
}
.myPage_header_user_community span {
    margin-right: 3%;
    cursor: pointer;
}
.myPage_header_user_name span {
    font-weight: bold;
    font-size: small;
}
.myPage_header_user_introduction {
    font-size: small;
}
/* 카테고리 */
.myPage_category {
    display: flex;
    justify-content: center;
    align-items: center;
}
.myPage_category span {
    margin: 0 2%;
    padding: 1.5% 0;
    cursor: pointer;
}
.myPage_category span:first-child {
    border-top: 1px solid black;
    font-weight: bold;
}
