/* 게시물 */
.myPage_posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.myPage_posts img {
    object-fit: fill;
    width: 100%;
    max-height: 24em;
}
.myPage_posts button {
    width: 32%;
    margin-bottom: 2%;
    border: none;
    cursor: pointer;
}
.myPage_posts button:nth-child(3n-1) {
    margin: 0 2% 2% 2%;
}