/* 게시물 */
.myPage_saved {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.myPage_saved img {
    object-fit: fill;
    width: 100%;
}
.myPage_saved button {
    width: 32%;
    margin-bottom: 2%;
    border: none;
    cursor: pointer;
}
.myPage_saved button:nth-child(3n-1) {
    margin: 0 2% 2% 2%;
}